{% extends 'base.html' %}

{% block content%}


<div class="container">
 
  <div class="row">

    <div class="clearfix visible-sm"></div>
 
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

<br/>
    <form action = "{% url 'chart' %}" class ="form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Select Stock" aria-label="Search" name="schart">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Get Chart</button>
    </form>
<br/>

{% if schart %}
    {{ schart }}
{% endif %}

{% if api %}

    {% if api == "Error..." %}
        There was an issue ,,  Try again !

    {% else %}

    {% for item in api %}
       <h4> {{ item.date }}</h4></br>
       <h4>{{item.uClose}}</h4></br>
    {% endfor %} 


              
    {% endif %}

{% endif %}
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <img src="data:image/png;base64,{{ data }}" alt="" height="500" ,width="500">
    </div>
  </div>
</div><br>

{% endblock %}