{% extends 'base.html' %}

{% block content%}

<div class="container">
 
    <div class="row">

    <!-- When in sm mode the 3rd column jumps up below the 2nd column. To fix it put the following right before the column that messes up using the screen mode being sm that messes up. -->
        <div class="clearfix visible-sm"></div>
 
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

{% if ticker %}
    {{ ticker }}
{% endif %}

{% if api %}

    {% if api == "Error..." %}
        There was an issue ,,  Try again !

    {% else %}
        <h1>{{ api.companyName }}</h1><br/>
        Price: ${{ api.latestPrice }}<br/>
        Previous Close: ${{ api.previousClose }}<br/>
        Market Cap: ${{ api.marketCap}}<br/>
        52 wk High: ${{ api.week52High }}<br/>
        52 wk Low: ${{ api.week52Low }}<br/>
        YTD Change: {{ api.ytdChange }}<br/>


    {% endif %}

{% endif %}
        </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img src="data:image/png;base64,{{ data }}" alt="" height="500" ,width="500">
        </div>
    </div>
</div><br>

{% endblock %}